* {
  font-family: $font-main;
  box-sizing: border-box;
}

*:focus {
  outline: 0;
  outline: none;
}

html {
  font-size: $fz-root; // root font-size, DO NOT CHANGE
}

body {
  font-size: 1.6rem;
  font-weight: fontWeight(regular);
  color: $text-color-secondary;
  padding-top: 60px;
  line-height: 2.3rem;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  @include not-mobile {
    padding-top: 90px;
  }

  &.body__is__nav-open {
    overflow: hidden;
    .navigation__layout {
      opacity: 0.8;
      z-index: 10;
      visibility: visible;
    }
  }

  .navigation__layout {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.4s ease;
    background-color: $bg-color-primary-white;
    z-index: 0;
    visibility: hidden;
    @include not-mobile {
      display: none;
    }
  }

  &.modal-open,
  &.map-open {
    overflow: hidden;
  }

  .contentPage {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  // typography
  h1 {
    @include typography(fonts(heading), fontWeight(bold), 4rem, 4.8rem);
  }

  h2 {
    @include typography(fonts(heading), fontWeight(bold), 3.5rem, 4.4rem);
  }

  h3 {
    @include typography(fonts(heading), fontWeight(bold), 2.8rem, 1.33);
  }

  h4 {
    @include typography(fonts(heading), fontWeight(bold), 1.8rem, 2.4rem);
  }

  h5 {
    @include typography(fonts(heading), fontWeight(bold), 1.8rem, 2.4rem);
  }

  h6 {
    @include typography(fonts(main), fontWeight(bold), 1.8rem, 2.4rem);
  }

  p,
  a {
    @include typography(fonts(main), fontWeight(regular), 1.6rem, inherit);
  }

  a {
    outline: none;
    text-decoration: none;
    background-color: transparent;

    &:hover {
      color: color(c-dark-blue-navy-2);
    }
    &.anchor-btn {
      &:hover {
        color: initial;
      }
    }
  }

  label {
    font-weight: fontWeight(regular);
  }
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}
