.subscribe
  .row.subscribe__container
    .col-12.col-md-12.col-lg-4
      .subscribe__item
        h3.subscribe__item__title Xem sản phẩm khác
        .subscribe__item__content Chúng tôi có rất nhiều sản phẩm với mẫu mã đẹp và chất lượng đảm bảo. Cùng đến lựa chọn sản phẩm phù hợp.
        .subscribe__item__see-now Xem ngay
    .col-12.col-md-12.col-lg-4
      .subscribe__item
        h3.subscribe__item__title Báo giá thiết kế
        .subscribe__item__content Chúng tôi cung cấp những gợi ý thiết kế giupws bạn lựa chọn sản phẩm phù hợp với căn nhà, văn phòng của bạn.
        .subscribe__item__see-now Tham khảo
    .col-12.col-md-12.col-lg-4
      .subscribe__item
        h3.subscribe__item__title Đăng ký với chúng tôi
        .subscribe__item__content Chúng tôi có rất nhiều sản phẩm với mẫu mã đẹp và chất lượng đảm bảo. Cùng đến lựa chọn sản phẩm phù hợp.
        .subscribe__item__see-now Đăng ký