- var title = "sản phẩm khuyến mãi";
.list-product
  h3.list-product__title #{title}
  .list-product__container
    .product-list-container
      .swiper-wrapper
        .swiper-slide
          .product-item
            img.product-item__img(src="https://kitasofa.com/wp-content/uploads/2018/06/sofa-bang-boc-da-leather-lawson.jpg" alt="" srcset="")
            h4.product-item__title Sản phẩm 1
            .product-item__price
              .product-item__price__new.price 6 500 000
              .product-item__price__old.price 9 500 000
            .product-item__tool
              .product-item__tool__container
                a.view-detail.fa.fa-shopping-cart(href="/cartPage")
                a.add-to-cart.fas.fa-eye(href="/product-detail-page")
              a.product-item__tool__buy-now(href="#") Mua ngay
        .swiper-slide
          .product-item
            img.product-item__img(src="https://kitasofa.com/wp-content/uploads/2018/06/sofa-bang-cam-khan-phu-trang.jpg" alt="" srcset="")
            h4.product-item__title Sản phẩm 1
            .product-item__price
              .product-item__price__new.price 7 500 000
              .product-item__price__old.price 9 500 000
            .product-item__tool
              .product-item__tool__container
                a.view-detail.fa.fa-shopping-cart(href="/cartPage")
                a.add-to-cart.fas.fa-eye(href="/product-detail-page")
              a.product-item__tool__buy-now(href="#") Mua ngay
        .swiper-slide
          .product-item
            img.product-item__img(src="https://kitasofa.com/wp-content/uploads/2018/06/sofa-bang-mau-xanh-don-gian-cornflower-blue-lawson.jpg" alt="" srcset="")
            h4.product-item__title Sản phẩm 1
            .product-item__price
              .product-item__price__new.price 6 500 000
              .product-item__price__old.price 11 500 000
            .product-item__tool
              .product-item__tool__container
                a.view-detail.fa.fa-shopping-cart(href="/cartPage")
                a.add-to-cart.fas.fa-eye(href="/product-detail-page")
              a.product-item__tool__buy-now(href="#") Mua ngay
        .swiper-slide
          .product-item
            img.product-item__img(src="https://kitasofa.com/wp-content/uploads/2018/06/sofa-bang-red-lawson.jpg" alt="" srcset="")
            h4.product-item__title Sản phẩm 1
            .product-item__price
              .product-item__price__new.price 6 500 000
              .product-item__price__old.price 12 500 000
            .product-item__tool
              .product-item__tool__container
                a.view-detail.fa.fa-shopping-cart(href="/cartPage")
                a.add-to-cart.fas.fa-eye(href="/product-detail-page")
              a.product-item__tool__buy-now(href="#") Mua ngay
        .swiper-slide
          .product-item
            img.product-item__img(src="https://kitasofa.com/wp-content/uploads/2018/06/sofa-bang-vang-rut-nut-yellow-button-lawson.jpg" alt="" srcset="")
            h4.product-item__title Sản phẩm 1
            .product-item__price
              .product-item__price__new.price 6 500 000
              .product-item__price__old.price 29 500 000
            .product-item__tool
              .product-item__tool__container
                a.view-detail.fa.fa-shopping-cart(href="/cartPage")
                a.add-to-cart.fas.fa-eye(href="/product-detail-page")
              a.product-item__tool__buy-now(href="#") Mua ngay
    .swiper-pagination
    .swiper-tool
      .product-list-swiper-button-prev.swiper-tool__icon
        .fas.fa-angle-left
      .product-list-swiper-button-next.swiper-tool__icon
        .fas.fa-angle-right
    .swiper-scrollbar