.row.new-item
  .col-5
    img.new-item__image(src="https://kitasofa.com/wp-content/uploads/2020/07/tam-boc-sofa.jpg")
  .col-7
    .new-item__detail
      a(href="/newDetailPage")
        h5.new-item__detail__title Tấm bọc sofa, ga phủ ghế, drap vải áo trùm bảo vệ sofa – KITA
      .new-item__detail__create-time 17:10 25-07-2020
      .new-item__detail__content  Tấm bọc sofa, ga phủ ghế sofa, drap vải áo trùm bảo vệ sofa Tấm bọc sofa, ga phủ ghế sofa, drap vải áo trùm bảo vệ sofa được khách hàng lựa chọn để vừa bảo vệ vừa làm tăng tính thẩm mỹ cho sofa phòng khách gia đình. Những tấm ga phủ, áo trùm
