.category-section
  h1.category-section__title Danh mục sản phẩm
  .category-section__container
    .category-section-item
      h5.category-section-item__title Sofa
      .category-section-item__sub-category 
        .category-section-item__sub-category__icon
          .fas.fa-angle-right
        .category-section-item__sub-category__text Sofa góc
      .category-section-item__sub-category 
        .category-section-item__sub-category__icon
          .fas.fa-angle-right
        .category-section-item__sub-category__text Sofa da
    .category-section-item
      h5.category-section-item__title Sofa
      .category-section-item__sub-category 
        .category-section-item__sub-category__icon
          .fas.fa-angle-right
        .category-section-item__sub-category__text Sofa góc
      .category-section-item__sub-category 
        .category-section-item__sub-category__icon
          .fas.fa-angle-right
        .category-section-item__sub-category__text Sofa da
    .category-section-item
      h5.category-section-item__title Sofa
      .category-section-item__sub-category 
        .category-section-item__sub-category__icon
          .fas.fa-angle-right
        .category-section-item__sub-category__text Sofa góc
      .category-section-item__sub-category 
        .category-section-item__sub-category__icon
          .fas.fa-angle-right
        .category-section-item__sub-category__text Sofa da
    .category-section-item
      h5.category-section-item__title Sofa
      .category-section-item__sub-category 
        .category-section-item__sub-category__icon
          .fas.fa-angle-right
        .category-section-item__sub-category__text Sofa góc
      .category-section-item__sub-category 
        .category-section-item__sub-category__icon
          .fas.fa-angle-right
        .category-section-item__sub-category__text Sofa da