.about-page,
.product-page,
.cart-detail,
.product-detail-page,
.checkout-page {
  .header {
    background: #fff;
    color: #000;
    position: relative;

    .nav-menu-link {
      color: #000;
      font-weight: 500;

      &:hover {
        color: #e5ae49;
      }
    }

    .nav-icon-section__menu-icon {
      color: #000;

      .fas {
        border: 1px solid #000;
      }
    }

    .nav-tool-section {
      color: #000;
    }
  }

  .header-fixed {
    position: fixed;
    z-index: 3;
    box-shadow: 0 0 10px 0 rgb(61, 61, 61);

    .header-infomation {
      display: none;
    }
  }

  &__brand-section {
    color: #000;
  }

  &__introduce-section {
    color: #000;
    padding: 0 30px;
    margin: 30px 0;

    .introduce {
      &__title {
        width: 100%;
        text-align: center;
        font-size: 24px;
        text-transform: uppercase;
        margin-bottom: 30px;
        position: relative;
        padding-bottom: 10px;

        &::after {
          content: "";
          min-width: 100px;
          height: 3px;
          background: #e5ae49;
          position: absolute;
          top: 100%;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
}
