.form-contact
  .row
    .col-12.col-md-6
      .form-contact__customer
        input(type="text" placeholder="Họ và tên").form-contact__customer__input
        input(type="text" placeholder="Điện thoại").form-contact__customer__input
        input(type="text" placeholder="Email").form-contact__customer__input
        textarea(name="" placeholder="Thông điệp").form-contact__customer__input.form-textarea
        button(type="submit").form-contact__customer__btn Gửi liên hệ
    .col-12.col-md-6
      .form-contact__client
        .form-contact__client__item
          .client-item__title Trụ sở
          .client-item__address
            .client-item__address__icon
              .fas.fa-building
            .client-item__address__text 16 Trần Bá Giao, Phường 5, Quận Gò Vấp, Tp.Hồ Chí Minh
        .form-contact__client__item
          .client-item__title Hotline
          .client-item__address
            .client-item__address__icon
              .fas.fa-mobile-alt
            .client-item__address__text 0938.183.383
        .form-contact__client__item
          .client-item__title Email
          .client-item__address
            .client-item__address__icon
              .far.fa-envelope-open
            .client-item__address__text kitasky.furniture@gmail.com