extends ../layouts/master.pug

block title
  title My Page - home

block basicSeo
  meta(name='description' content='home page')
  meta(name='keywords' content='home, page')
  meta(name='author' content='')

block content

  //- Desktop page
  section.home-page
    .home-page__banner
      .swiper-container
        .swiper-wrapper
          .swiper-slide
            .banner__item
              img.banner__item__img(src="https://kitasofa.com/wp-content/uploads/2018/06/slideshow_1.jpg" alt="" srcset="")
              .banner__item__content
                h1.banner__item__title Nội thất thông minh
                .banner__item__btn Xem Thêm
          .swiper-slide
            .banner__item
              img.banner__item__img(src="https://kitasofa.com/wp-content/uploads/2018/07/slideshow_2.jpg" alt="" srcset="")
              .banner__item__content
                h1.banner__item__title Bộ sưu tập nội ngoại thất
                .banner__item__btn Xem Thêm
          .swiper-slide
            .banner__item
              img.banner__item__img(src="https://kitasofa.com/wp-content/uploads/2018/07/slideshow_3.jpg" alt="" srcset="")
              .banner__item__content
                h1.banner__item__title Thiết kế nội thất
                .banner__item__btn Xem Thêm
      .swiper-pagination
      .swiper-button-prev
      .swiper-button-next
      .swiper-scrollbar
    .container
      .home-page__product-section
        include ../components/globalComponent/productList/product-list.pug
    .container
      .home-page__product-section
        include ../components/globalComponent/productList/product-list.pug
    .container
      .home-page__product-section
        include ../components/globalComponent/ourService/our-service.pug
    .home-page__review-section
      include ../components/homePage/review/review.pug
    .container
      .home-page__product-section
        include ../components/globalComponent/ourService/our-service.pug
    .home-page__subscribe-section
      include ../components/homePage/subscribe/subscribe.pug
    .container
      .home-page__customer-section
        include ../components/homePage/customer/customer.pug
    .home-page__brand-section
      include ../components/homePage/brand/brand.pug