extends ../layouts/master.pug

block title
  title My Page - News Detail

block basicSeo
  meta(name='description' content='home page')
  meta(name='keywords' content='home, page')
  meta(name='author' content='')

block content
  //- Desktop page
  section.new-detail-page
    //- header
    include ../components/header/header.pug
    .container
      .row.product-page__container
        .col-12.col-sm-3.col-md-3.product-page__category-section
          include ../components/productPage/categorySection/category-section.pug
        .col-12.col-sm-9.col-md-9.product-page__list-product-section
          include ../components/newDetailPage/newDetailSection/newDetailSection.pug
    .product-page__brand-section
      include ../components/homePage/brand/brand.pug