extends ../layouts/master.pug

block title
  title My Page - product detail

block basicSeo
  meta(name='description' content='home page')
  meta(name='keywords' content='home, page')
  meta(name='author' content='')

block content

  //- Desktop page
  section.product-detail-page
    //- header
    .about-page__header-container
      include ../components/aboutPage/headerInfomation/headerInfomation.pug
      include ../components/header/header.pug
    .about-page__breadcrumb-section
      include ../components/aboutPage/bread-crumb/bread-crumb.pug
    .product-detail-page__product-container
      .container
        include ../components/productDetailPage/product/product.pug
      .container
        include ../components/productDetailPage/productDetail/productDetail.pug
