.row.product-detail
  .col-12.col-md-5
    .product-detail__image
      .swiper-container.gallery-top
        .swiper-wrapper
          .swiper-slide
            img(src="https://kitasofa.com/wp-content/uploads/2019/04/bo-ban-ghe-sofa-da-phong-khach-nhap-khau.jpg" alt="" srcset="")
          .swiper-slide
            img(src="https://swiperjs.com/demos/images/nature-2.jpg" alt="" srcset="")
          .swiper-slide
            img(src="https://swiperjs.com/demos/images/nature-3.jpg" alt="" srcset="")
          .swiper-slide
            img(src="https://swiperjs.com/demos/images/nature-4.jpg" alt="" srcset="")
      .swiper-container.gallery-thumbs
        .swiper-wrapper
          .swiper-slide
            img(src="https://kitasofa.com/wp-content/uploads/2019/04/bo-ban-ghe-sofa-da-phong-khach-nhap-khau.jpg" alt="" srcset="")
          .swiper-slide
            img(src="https://swiperjs.com/demos/images/nature-2.jpg" alt="" srcset="")
          .swiper-slide
            img(src="https://swiperjs.com/demos/images/nature-3.jpg" alt="" srcset="")
          .swiper-slide
            img(src="https://swiperjs.com/demos/images/nature-4.jpg" alt="" srcset="")
  .col-12.col-md-7
    .product-detail__infomation
      h3.product-detail__infomation__title Bàn ghế sofa da Alula
      h5.product-detail__infomation__sku Mã SP: N/A
      p.product-detail__infomation__old-price Giá cũ:
        span.price 90 000 000 
      p.product-detail__infomation__new-price Giá KM:
        span.price 79 000 000
      .product-detail__infomation__description 
        p Bộ bàn ghế sofa da phòng khách cao cấp Alula với ý nghĩa là mỏng manh và nhẹ nhàng như lông vũ mang đến cảm giác cực kỳ êm dịu, thoải mái khi bạn sử dụng và với thiết kế đơn giản, kết hợp bàn thấp hình tròn rút lõm độc đáo khiến bộ sofa càng thêm ấn tượng!
        p Có hai loại để khách hàng lựa chọn:
        p Bộ bàn ghế sofa Alula bọc simili cao cấp: 79,000,000
        p Bộ bàn ghế sofa Alula bọc da Ý: 155,000,000
      .product-detail__infomation__quantity
        .quantity-container
          .unit
            .unit__title Đợn vị
            .unit__content Bộ
          .quantity
            .quantity__title Số lượng
            input.quantity__input(type="number" value="")
        .add-to-cart
          .add-to-cart__btn Thêm vào giỏ hàng
      .product-detail__infomation__social
        span.title Chia sẻ:
        a()
          .fab.fa-facebook-square
        a()
          .fab.fa-google-plus-square
        a()
          .fab.fa-twitter-square
        a()
          .fab.fa-pinterest-square
        a()
          .fab.fa-linkedin
