- var title = "Khách hàng";
.customer
  h3.customer__title #{title}
  .swiper-tool
    .swiper-tool__container
      .customer-swiper-button-prev.swiper-tool__icon
        .fas.fa-angle-left
      .customer-swiper-button-next.swiper-tool__icon
        .fas.fa-angle-right
  .customer__container
    .customer-container
      .swiper-wrapper
        .swiper-slide
          .customer-item
            img.customer-item__img(src="https://kitasofa.com/wp-content/uploads/2020/06/boc-sofa-quan-10-h00000.jpg" alt="" srcset="")
            .customer-item__content
              a.customer-item__content__title Chị Ngọc - Quận gò vấp
              p.customer-item__content__text Từ ngày có con, tôi bắt đầu quan tâm hơn đến các sản phẩm nội thất thông minh. Kita không chỉ thiết kế cho tôi một không gian sống tiện nghi đúng theo yêu cầu mà các sản phẩm do công ty cung cấp cũng rất đẹp và sáng tạo. Tôi vô cùng hài lòng về Kita                     
        .swiper-slide
          .customer-item
            img.customer-item__img(src="https://kitasofa.com/wp-content/uploads/2020/06/boc-sofa-quan-10-h00000.jpg" alt="" srcset="")
            .customer-item__content
              a.customer-item__content__title Chị Ngọc - Quận gò vấp
              p.customer-item__content__text Từ ngày có con, tôi bắt đầu quan tâm hơn đến các sản phẩm nội thất thông minh. Kita không chỉ thiết kế cho tôi một không gian sống tiện nghi đúng theo yêu cầu mà các sản phẩm do công ty cung cấp cũng rất đẹp và sáng tạo. Tôi vô cùng hài lòng về Kita                     
        .swiper-slide
          .customer-item
            img.customer-item__img(src="https://kitasofa.com/wp-content/uploads/2020/06/boc-sofa-quan-10-h00000.jpg" alt="" srcset="")
            .customer-item__content
              a.customer-item__content__title Chị Ngọc - Quận gò vấp
              p.customer-item__content__text Từ ngày có con, tôi bắt đầu quan tâm hơn đến các sản phẩm nội thất thông minh. Kita không chỉ thiết kế cho tôi một không gian sống tiện nghi đúng theo yêu cầu mà các sản phẩm do công ty cung cấp cũng rất đẹp và sáng tạo. Tôi vô cùng hài lòng về Kita                     
    .customer-swiper-pagination