.col-6.col-md-4.product-item-grid-container.product-active
  .product-item
    img.product-item__img(src="https://kitasofa.com/wp-content/uploads/2019/04/bo-ban-ghe-sofa-boc-da-cao-cap-600x600.jpg" alt="" srcset="")
    h4.product-item__title Sofa phòng khách
    .product-item__price
      .product-item__price__old.price 120 000 000
      .product-item__price__new.price 105 000 000
    .product-item__tool
      .product-item__tool__container
        a.view-detail.fa.fa-shopping-cart(href="/product-detail-page")
        a.add-to-cart.fas.fa-eye(href="/product-detail-page")
      a.product-item__tool__buy-now(href="#") Mua ngay
.product-item-detail-container
  .product-item-detail
    img.product-item-detail__img(src="https://kitasofa.com/wp-content/uploads/2019/04/bo-ban-ghe-sofa-boc-da-cao-cap-600x600.jpg" alt="" srcset="")
    .product-item-detail__container
      h4.product-item-detail__title Sofa phòng khách
      p.product-item-detail__content Bộ bàn ghế sofa da phòng khách cao cấp Alula với ý nghĩa là mỏng manh và nhẹ nhàng như lông vũ mang đến cảm giác cực kỳ êm dịu, thoải mái khi bạn sử dụng và với thiết kế đơn giản, kết hợp bàn thấp hình tròn rút lõm độc đáo khiến bộ sofa càng thêm ấn tượng!
      .product-item-detail__price
        .product-item-detail__price__new.price 105 000 000
        .product-item-detail__price__old.price 120 000 000
      .product-item-detail__add-to-card
        .product-item-detail__add-to-card__btn Thêm vào giỏ
        .product-item-detail__add-to-card__view-detail
          .fas.fa-search
