.review.row
  .col-6.col-md-3.review-item
    .review-item__icon
      .fas.fa-chart-bar
    .review-item__text 100
    .review-item__description Dự án đã hoàn thành
  .col-6.col-md-3.review-item
    .review-item__icon
      .fas.fa-users
    .review-item__text 100
    .review-item__description Khách hàng hài lòng
  .col-6.col-md-3.review-item
    .review-item__icon
      .fas.fa-edit
    .review-item__text 50
    .review-item__description Thiết kế có sẵn
  .col-6.col-md-3.review-item
    .review-item__icon
      .fas.fa-trophy
    .review-item__text 1
    .review-item__description Giải thưởng
