.brand {
  width: 100%;
  background: #ebebeb;
  padding: 30px 0;

  .brand-container {
    overflow: hidden;
  }

  &__title {
    width: 100%;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 30px;
    position: relative;
    padding-bottom: 10px;

    &::after {
      content: "";
      min-width: 100px;
      height: 3px;
      background: #e5ae49;
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__infomation {
    width: 80%;
    margin: 0 auto;
    font-size: 15px;
    text-align: center;
    margin-bottom: 20px;
  }

  &__container {
    position: relative;
  }

  .brand-container {
    height: 80px;

    .brand-item {
      padding: 1px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      padding: 20px;

      &__img {
        width: 80%;
        height: 100%;
      }
    }
  }

  .swiper-tool {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;

    &__icon {
      z-index: 1;
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #faefdb;
      padding: 10px;
      color: #e5ae49;
      background: rgba($color: #000000, $alpha: 0.5);
    }
  }
  //   .customer-swiper-pagination {
  //     width: 100%;
  //     display: flex;
  //     justify-content: center;
  //     position: relative;

  //     .swiper-pagination-bullet {
  //       display: block;
  //       width: 10px;
  //       height: 10px;
  //       border-radius: 50%;
  //       background: #ccc;
  //       margin: 0 7px;
  //     }

  //     .swiper-pagination-bullet-active {
  //       background: #869791;
  //     }
  //   }
}
