- var title = "Đối tác";
.brand
  h3.brand__title #{title}
  p.brand__infomation Chúng tôi luôn chọn những đối tác tin cậy và uy tín để đảm bảo những sản phẩm có chất lượng tốt nhất để gửi tới bạn.
  .brand__container
    .brand-container
      .swiper-wrapper
        .swiper-slide
          .brand-item
            img.brand-item__img(src="https://kitasofa.com/wp-content/uploads/2018/07/brand2.png" alt="" srcset="")
        .swiper-slide
          .brand-item
            img.brand-item__img(src="https://kitasofa.com/wp-content/uploads/2018/07/brand3.png" alt="" srcset="")
        .swiper-slide
          .brand-item
            img.brand-item__img(src="https://kitasofa.com/wp-content/uploads/2018/07/brand4.png" alt="" srcset="")
        .swiper-slide
          .brand-item
            img.brand-item__img(src="https://kitasofa.com/wp-content/uploads/2018/07/brand5.png" alt="" srcset="")
        .swiper-slide
          .brand-item
            img.brand-item__img(src="https://kitasofa.com/wp-content/uploads/2018/07/brand6.png" alt="" srcset="")
    .brand-swiper-pagination
    .swiper-tool
      .product-list-swiper-button-prev.swiper-tool__icon
        .fas.fa-angle-left
      .product-list-swiper-button-next.swiper-tool__icon
        .fas.fa-angle-right