.swiper-container
  .swiper-wrapper
    .swiper-slide
      .banner__item
        img.banner__item__img(src="https://kitasofa.com/wp-content/uploads/2018/06/slideshow_1.jpg" alt="" srcset="")
        .banner__item__content
          h1.banner__item__title Nội thất thông minh
          .banner__item__btn Xem Thêm
    .swiper-slide
      .banner__item
        img.banner__item__img(src="https://kitasofa.com/wp-content/uploads/2018/07/slideshow_2.jpg" alt="" srcset="")
        .banner__item__content
          h1.banner__item__title Bộ sưu tập nội ngoại thất
          .banner__item__btn Xem Thêm
    .swiper-slide
      .banner__item
        img.banner__item__img(src="https://kitasofa.com/wp-content/uploads/2018/07/slideshow_3.jpg" alt="" srcset="")
        .banner__item__content
          h1.banner__item__title Thiết kế nội thất
          .banner__item__btn Xem Thêm
.banner-swiper-pagination