.phone-contact {
  background: #EEEEEE;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 20px;
  left: 10px;
  position: fixed;
  padding: 5px;
  border-radius: 30px;
  border: 1px solid #ccc;
  z-index: 2;

  &__icon {
    width: 35px;
    height: 35px;
    padding: 10px;
    background: #dc991f;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
  }

  &__phone {
    position: absolute;
    width: 100%;
    height: 100%;

    &__text {
      display: none;
      color: #dc991f;
      margin: 0;
      padding-right: 20px;
      font-size: 22px;
      font-weight: 600;
      margin-left: 15px;
    }
  }

  @include min-md {
    bottom: 20px;
    left: 20px;

    &__phone {
      &__text {
        display: block;
      }
    }
  }

  .phonering-alo-ph-circle {
    width: 70px;
    height: 70px;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    position: absolute;
    background-color: transparent;
    border-radius: 100% !important;
    border: 2px solid #dc991f;
    opacity: 1;
    -webkit-animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
    animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
    transition: all .5s;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%
  }
}

@-webkit-keyframes phonering-alo-circle-anim {
  0% {
    -webkit-transform: translateY(-50%) translateX(-50%) rotate(0) scale(.5) skew(1deg);
    -webkit-opacity: .1
  }

  30% {
    -webkit-transform: translateY(-50%) translateX(-50%) rotate(0) scale(.7) skew(1deg);
    -webkit-opacity: .5
  }

  100% {
    -webkit-transform: translateY(-50%) translateX(-50%) rotate(0) scale(1) skew(1deg);
    -webkit-opacity: .1
  }
}

@keyframes phonering-alo-circle-anim {
  0% {
    -webkit-transform: translateY(-50%) translateX(-50%) rotate(0) scale(.5) skew(1deg);
    transform: translateY(-50%) translateX(-50%) rotate(0) scale(.5) skew(1deg);
    opacity: .3
  }

  30% {
    -webkit-transform: translateY(-50%) translateX(-50%) rotate(0) scale(.7) skew(1deg);
    transform: translateY(-50%) translateX(-50%) rotate(0) scale(.7) skew(1deg);
    opacity: .6
  }

  100% {
    -webkit-transform: translateY(-50%) translateX(-50%) rotate(0) scale(1) skew(1deg);
    transform: translateY(-50%) translateX(-50%) rotate(0) scale(1) skew(1deg);
    opacity: .3
  }
}

@-webkit-keyframes phonering-alo-circle-img-anim {
  0% {
    -webkit-transform: rotate(0) scale(1) skew(1deg)
  }

  10% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg)
  }

  20% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg)
  }

  30% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg)
  }

  40% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg)
  }

  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg)
  }

  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg)
  }
}

@keyframes phonering-alo-circle-img-anim {
  0% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    transform: rotate(0) scale(1) skew(1deg)
  }

  10% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    transform: rotate(-25deg) scale(1) skew(1deg)
  }

  20% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    transform: rotate(25deg) scale(1) skew(1deg)
  }

  30% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    transform: rotate(-25deg) scale(1) skew(1deg)
  }

  40% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    transform: rotate(25deg) scale(1) skew(1deg)
  }

  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    transform: rotate(0) scale(1) skew(1deg)
  }

  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    transform: rotate(0) scale(1) skew(1deg)
  }
}
