.product-detail-infomation
    .product-detail-infomation__tab-btn
        span#infomation.product-detail-infomation__tab-btn__text Mô tả
        span#comment.product-detail-infomation__tab-btn__text Bình luận
    .product-detail-infomation__tab-content
        .product-detail-infomation__tab-content__infomation
        .product-detail-infomation__tab-content__facebool-comment