.product-detail-infomation
  .product-detail-infomation__tab-btn
    span#tab1.tab-btn.product-detail-infomation__tab-btn__text.active Mô tả
    span#tab2.tab-btn.product-detail-infomation__tab-btn__text Bình luận
  .product-detail-infomation__tab-content
    .tab.tab-active.product-detail-infomation__tab-content__infomation
      .infomation-section
        h3.infomation-section__title Bàn ghế sofa da xịn nhập khẩu
        p.infomation-section__text Nếu như trước đây bạn chỉ nghĩ sofa da sang trọng thích hợp với không gian phòng khách rộng lớn thì bây giờ, bạn có thể dễ dàng sở hữu 
        img(src="https://kitasofa.com/wp-content/uploads/2019/04/mau-ban-ghe-sofa-da-dep-cao-cap.jpg", alt="", srcset="")
    .tab.product-detail-infomation__tab-content__facebool-comment
      p Facebook section
