.cart-detail
  .container
    h1.cart-detail__title Giỏ hàng
    .cart-detail__mesage
      .cart-detail__mesage__icon 

      .cart-detail__mesage__text “Bàn ghế sofa da Alula” đã được thêm vào giỏ hàng.
      .cart-detail__mesage__btn  Tiếp tục xem sản phẩm
    table.cart-detail__table
      thead
        tr
          th 
          th 
          th Sản phẩm
          th Giá
          th Số lượng
          th Tổng cộng
      tbody
        tr
          td
            .fas.fa-times
          td
            img(src="https://kitasofa.com/wp-content/uploads/2020/06/ghe-thu-gian.jpg", alt="", srcset="")
          td Ghế thứ giãn
          td 3 500 000
          td 
            input(type="numbet" value="1")
          td 3 500 000
        tr
          td
          td
          td
          td
          td 
          td 3 500 000
