.cart-detail
  .container
    .cart-detail__desktop
      h1.cart-detail__title Giỏ hàng
      .cart-detail__message
        .cart-detail__message__icon
          .fas.fa-check-circle
          .cart-detail__message__text “Bàn ghế sofa da Alula” đã được thêm vào giỏ hàng.
        .cart-detail__message__btn  Tiếp tục xem sản phẩm
      table.cart-detail__table
        thead
          tr
            th
            th
            th Sản phẩm
            th Giá
            th Số lượng
            th Tổng cộng
        tbody
          tr
            td
              .fas.fa-times
            td
              img(src="https://kitasofa.com/wp-content/uploads/2020/06/ghe-thu-gian.jpg", alt="", srcset="")
            td Ghế thứ giãn
            td 3 500 000
            td
              input(type="numbet" value="1")
            td 3 500 000
          tr
            td
              .fas.fa-times
            td
              img(src="https://kitasofa.com/wp-content/uploads/2020/06/ghe-thu-gian.jpg", alt="", srcset="")
            td Ghế thứ giãn
            td 3 500 000
            td
              input(type="number" value="1")
            td 3 500 000
          tr
            td
            td
            td
            td
            td
            td 3 500 000
    .cart-detail__mobile
      h1.cart-detail__title Giỏ hàng
      .cart-detail__message
        .cart-detail__message__icon
          .fas.fa-check-circle
          .cart-detail__message__text “Bàn ghế sofa da Alula” đã được thêm vào giỏ hàng.
        .cart-detail__message__btn  Tiếp tục xem sản phẩm
      .cart-detail__mobile__container
        ul.cart-detail__mobile__table
          li.cart-detail__mobile__table__item
            .fas.fa-times
          li.cart-detail__mobile__table__item
            p Sản phẩm:
            span Ghế thứ giãn
          li.cart-detail__mobile__table__item
            p Giá:
            span 3 500 000
          li.cart-detail__mobile__table__item
            p Số lượng:
            input(type="number" value="1")
          li.cart-detail__mobile__table__item.btn-container
            .update-btn Cập nhật giỏ hàng
        h3 Tồng số lượng
        ul.cart-detail__mobile__table
          li.cart-detail__mobile__table__item
            p Tổng cộng:
            span 79 000 000
          li.cart-detail__mobile__table__item
            p Shipping:
            span Đồng giá: 0
          li.cart-detail__mobile__table__item
            p Tổng cộng:
            span 79 000 000
