.bread-crumb
  .bread-crumb__container
    h3.bread-crumb__title Giới thiệu
    nav(aria-label="breadcrumb")
      .breadcrumb
        .breadcrumb-item
          a.breadcrumb-item__text(href="#") Trang chủ
          .fas.fa-angle-double-right
          a.breadcrumb-item__text(href="#" aria-current="page") Giới thiệu