.cart-detail {
  color: #000;

  &__desktop {
    display: none;

    @include min-md {
      display: block;
    }
  }

  &__mobile {
    @include min-md {
      display: none;
    }

    &__table {
      margin: 20px 0;

      &__item {
        border: 1px solid #ccc;
        border-top: none;
        padding: 10px 15px;
        font-size: 15px;
        display: flex;
        justify-content: space-between;

        &:first-child {
          border-top: 1px solid #ccc;
          border-top-left-radius: 3px;
          border-top-right-radius: 3px;
        }

        &:last-child {
          border-bottom-left-radius: 3px;
          border-bottom-right-radius: 3px;
        }

        p {
          font-size: 14px;
          font-weight: 600;
        }

        .update-btn {
          text-align: center;
          background: #ebe9eb;
          margin: 0 auto;
          width: 100%;
          font-weight: 600;
          padding: 5px 10px;
        }

        input {
          max-width: 50px;
          text-align: center;
          padding: 5px;
        }

        .fas {
          color: red;
        }
      }

    }
  }

  &__title {
    width: 100%;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 30px;
    position: relative;
    padding-bottom: 10px;

    &::after {
      content: "";
      min-width: 100px;
      height: 3px;
      background: #e5ae49;
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__message {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    border-top: 3px solid #8fae1b;
    background: #f7f6f7;
    padding: 10px 25px;
    margin-bottom: 20px;

    @include min-md {
      justify-content: space-between;
    }

    &__icon {
      display: flex;
      align-items: center;
      font-size: 16px;
      color: #8fae1b;
      margin-right: 10px;

      .fas {
        margin-right: 10px;
      }
    }

    &__btn {
      background: #ebe9eb;
      padding: 5px;
      font-weight: 600;
      border-radius: 5px;
      margin-top: 10px;
      cursor: pointer;

      @include min-md {
        margin-top: 0;
      }
    }
  }

  &__table {
    width: 100%;
    border: 1px solid #ccc;
    margin-bottom: 20px;

    thead>tr {
      background: #000;
      color: #fff;
      border: 1px solid #000;
    }

    td {
      padding: 10px 0;
    }

    &__body {
      tr {
        border: 1px solid #ccc;

        .table-image,
        .close-btn {
          text-align: center;
        }

        img {
          max-width: 60px;
        }

        input {
          max-width: 50px;
          text-align: center;
        }

        .update-btn {
          text-align: center;
          background: #ebe9eb;
          margin: 0 auto;
          max-width: 100%;
          font-weight: 600;
          padding: 5px 10px;
          margin: 5px;
        }
      }

      .product-remove {
        width: 50px;
        text-align: center;
      }

      .product-thumbnail {
        width: 150px;
      }

      .product-price {
        width: 150px;
      }

      .product-quantity {
        width: 120px;
      }

      .product-subtotal {
        width: 200px;
      }
    }
  }

  .checkout-btn {
    color: #fff;
    display: block;
    text-align: center;
    margin-bottom: 1em;
    font-size: 1.25em;
    padding: 15px;
    background: #292018;
    cursor: pointer;
  }
}
