.container
  .header-infomation
    .header-infomation__container
      .header-infomation__item
        .fa.fa-map-marker
        p.header-infomation__item__text Hệ thống cửa hàng
      .header-infomation__item
        .fas.fa-phone-volume
        p.header-infomation__item__text 0909 506 808
      .header-infomation__item
        .far.fa-envelope-open
        p.header-infomation__item__text exmp@gmail.com
    .header-infomation__social
      .fab.fa-facebook-f
      .fab.fa-instagram
      .fab.fa-youtube
      .fab.fa-twitter
      .fab.fa-google-plus-g