.product-section
  h1.product-section__title Tin tức
  .product-section__container
    .row.product-section__container__product-list
      include ../newItem/newItem.pug
      include ../newItem/newItem.pug
      include ../newItem/newItem.pug
      include ../newItem/newItem.pug
      include ../newItem/newItem.pug
      include ../newItem/newItem.pug
