.home-page {
  color: #000;
  width: 100vw;
  overflow-x: hidden;

  &__banner {
    width: 100%;
  }

  &__product-section {
    margin: 0 15px;
    overflow: hidden;
  }

  .banner__item {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba($color: #000000, $alpha: 0.4);
    }

    &__img {
      width: 100%;
    }

    &__content {
      width: 100%;
      height: 100%;
      color: #fff;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__title {
      font-size: 28px;
      text-transform: uppercase;
      text-align: center;
    }

    &__btn {
      background: #e5ae49;
      padding: 10px 30px;
      min-width: 150px;
      font-size: 14px;
      margin-top: 20px;
      border-radius: 20px;
      text-align: center;
      font-weight: 600;
      text-transform: uppercase;
    }
  }
}
