.home-page {
  color: #000;
  width: 100vw;
  overflow-x: hidden;

  &__banner {
    width: 100%;
    position: relative;
  }

  &__product-section {
    overflow: hidden;
  }
  
  &__customer-section {
    overflow: hidden;
  }
}
