header.header
  .header__container
    .container
      .header-infomation
        .header-infomation__container
          .header-infomation__item
            .fa.fa-map-marker
            p.header-infomation__item__text Hệ thống cửa hàng
          .header-infomation__item
            .fas.fa-phone-volume
            p.header-infomation__item__text 0909 506 808
          .header-infomation__item
            .far.fa-envelope-open
            p.header-infomation__item__text exmp@gmail.com
        .header-infomation__social
          .fab.fa-facebook-f
          .fab.fa-instagram
          .fab.fa-youtube
          .fab.fa-twitter
          .fab.fa-google-plus-g
      nav.header__nav
        .header__nav__container
          .nav-icon-section
            .nav-icon-section__menu-icon
              #nav-menu-btn.fas.fa-bars
            a.nav-icon-section__logo(href="/homepage")
              img(src="https://kitasofa.com/wp-content/uploads/2018/08/kita-sofa-logo-full.png" alt="" srcset="")
          .nav-menu-section
            .nav-menu-section__logo
              img(src="https://kitasofa.com/wp-content/uploads/2018/08/kita-sofa-logo-full.png" alt="" srcset="")
            .nav-menu-section__menu
              ul.nav-menu-section__menu
                li.nav-menu-section__menu__item
                  a.nav-menu-link(href="/homepage") Trang chủ
                li.nav-menu-section__menu__item
                  a.nav-menu-link(href="/aboutpage") Giới thiệu
                li.nav-menu-section__menu__item
                  a.nav-menu-link(href="/productpage") Sản phẩm
                  .container.menu-section
                    .row.menu-section__container
                      .col-7
                        .menu-section__list-menu
                          .sub-menu
                            img.sub-menu__image(src="https://kitasofa.com/wp-content/uploads/2018/06/sofa-bang-cam-khan-phu-trang.jpg", alt="", srcset="")
                            .sub-menu__content
                              a.sub-menu__title(href="http://") Sofa 1
                              p.sub-menu__description This is description
                          .sub-menu
                            img.sub-menu__image(src="https://kitasofa.com/wp-content/uploads/2018/06/sofa-bang-cam-khan-phu-trang.jpg", alt="", srcset="")
                            .sub-menu__content
                              a.sub-menu__title(href="http://") Sofa 1
                              p.sub-menu__description This is description
                          .sub-menu
                            img.sub-menu__image(src="https://kitasofa.com/wp-content/uploads/2018/06/sofa-bang-cam-khan-phu-trang.jpg", alt="", srcset="")
                            .sub-menu__content
                              a.sub-menu__title(href="http://") Sofa 1
                              p.sub-menu__description This is description
                          .sub-menu
                            img.sub-menu__image(src="https://kitasofa.com/wp-content/uploads/2018/06/sofa-bang-cam-khan-phu-trang.jpg", alt="", srcset="")
                            .sub-menu__content
                              a.sub-menu__title(href="http://") Sofa 1
                              p.sub-menu__description This is description
                          .sub-menu
                            img.sub-menu__image(src="https://kitasofa.com/wp-content/uploads/2018/06/sofa-bang-cam-khan-phu-trang.jpg", alt="", srcset="")
                            .sub-menu__content
                              a.sub-menu__title(href="http://") Sofa 1
                              p.sub-menu__description This is description
                      .col-5
                        .best-seller-product
                          h5.best-seller-product__title Best Seller
                          img.best-seller-product__image(src="https://kitasofa.com/wp-content/uploads/2018/06/sofa-bang-mau-xanh-don-gian-cornflower-blue-lawson.jpg" alt="")
                          p.best-seller-product__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo laboriosam eaque ipsum, laborum earum dignissimos ut harum iusto itaque, cupiditate magnam quaerat ipsam sed similique sit fuga repellendus omnis amet?
                          .best-seller-product__see-more Xem sản phẩm
                li.nav-menu-section__menu__item
                  a.nav-menu-link Tin tức
                  .menu-section D
                    .menu-section__list-sub-menu
                    .menu-section__list-sub-menu
                    .menu-section__list-sub-menu
                li.nav-menu-section__menu__item
                  a.nav-menu-link Thiết kế
                  .menu-section E
                    .menu-section__list-sub-menu
                    .menu-section__list-sub-menu
                    .menu-section__list-sub-menu
                li.nav-menu-section__menu__item
                  a.nav-menu-link Dự án
                  .menu-section F
                    .menu-section__list-sub-menu
                    .menu-section__list-sub-menu
                    .menu-section__list-sub-menu
                li.nav-menu-section__menu__item
                  a.nav-menu-link Liên hệ
                  .menu-section G
                    .menu-section__list-sub-menu
                    .menu-section__list-sub-menu
                    .menu-section__list-sub-menu
          .nav-tool-section
            .nav-tool-section__search
              .fas.fa-search
            .nav-tool-section__cart
              .fas.fa-shopping-cart
