.header {
  background: #333;
  border-bottom: 1px solid #e5ae49;

  &__nav {
    &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0;
    }
  }

  .nav-icon-section {
    width: 100%;

    @include min-md {
      width: 10%;
    }

    &__menu-icon {
      .fas {
        padding: 5px 10px;
        border-radius: 3px;
        border: 1px solid #fff;
      }

      @include min-md {
        display: none;
      }
    }

    &__logo {
      display: none;

      @include min-md {
        display: block;
      }
    }
  }

  .nav-menu-section {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;

    &__menu {
      display: none;

      @include min-md {
        display: flex;

        &__item {
          padding: 10px 15px;
          text-transform: uppercase;
          font-weight: 600;
          font-size: 22px;
          cursor: pointer;

          &:hover {
            color: #e5ae49;
            .menu-section {
              visibility: visible;
              opacity: 1;
              top: 100%;
            }
          }
        }
      }
    }

    &__logo {
      @include min-md {
        display: none;
      }
    }

    .menu-section {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      transition: 0.3s ease-in-out;
      top: 120%;
      left: 0;
      width: 100%;
      min-height: 400px;
      background: #fff;
      box-shadow: 0 0 3px 0 #ccc;
    }
  }

  .nav-tool-section {
    width: 100%;
    display: flex;
    justify-content: space-around;

    @include min-md {
      width: 10%;
      justify-content: flex-end;

      .fas {
        font-size: 20px;
        cursor: pointer;

        &:hover {
          color: #e5ae49;
        }
      }

      &__cart {
        margin-left: 40px;
      }
    }
  }
}
