header.header
  .header__container
    .container
      nav.header__nav
        .header__nav__container
          .nav-icon-section
            .nav-icon-section__menu-icon
              .fas.fa-bars
            a.nav-icon-section__logo(href="/homepage")
              img(src="https://kitasofa.com/wp-content/uploads/2018/08/kita-sofa-logo-full.png" alt="" srcset="")
          .nav-menu-section
            .nav-menu-section__logo
              img(src="https://kitasofa.com/wp-content/uploads/2018/08/kita-sofa-logo-full.png" alt="" srcset="")
            .nav-menu-section__menu
              ul.nav-menu-section__menu
                li.nav-menu-section__menu__item
                  a.nav-menu-link(href="/homepage") Trang chủ
                  .menu-section a
                    .menu-section__list-sub-menu
                    .menu-section__list-sub-menu
                    .menu-section__list-sub-menu
                li.nav-menu-section__menu__item
                  a.nav-menu-link(href="/aboutpage") Giới thiệu
                  .menu-section B
                    .menu-section__list-sub-menu
                    .menu-section__list-sub-menu
                    .menu-section__list-sub-menu
                li.nav-menu-section__menu__item
                  a.nav-menu-link(href="/productpage") Sản phẩm
                  .menu-section C
                    .menu-section__list-sub-menu
                    .menu-section__list-sub-menu
                    .menu-section__list-sub-menu
                li.nav-menu-section__menu__item
                  a.nav-menu-link Tin tức
                  .menu-section D
                    .menu-section__list-sub-menu
                    .menu-section__list-sub-menu
                    .menu-section__list-sub-menu
                li.nav-menu-section__menu__item
                  a.nav-menu-link Thiết kế
                  .menu-section E
                    .menu-section__list-sub-menu
                    .menu-section__list-sub-menu
                    .menu-section__list-sub-menu
                li.nav-menu-section__menu__item
                  a.nav-menu-link Dự án
                  .menu-section F
                    .menu-section__list-sub-menu
                    .menu-section__list-sub-menu
                    .menu-section__list-sub-menu
                li.nav-menu-section__menu__item
                  a.nav-menu-link Liên hệ
                  .menu-section G
                    .menu-section__list-sub-menu
                    .menu-section__list-sub-menu
                    .menu-section__list-sub-menu
          .nav-tool-section
            .nav-tool-section__search
              .fas.fa-search
            .nav-tool-section__cart
              .fas.fa-shopping-cart
