header.header
  .header__container
    .container
      nav.header__nav
        .header__nav__container
          .nav-icon-section
            .nav-icon-section__menu-icon
              .fas.fa-bars
            .nav-icon-section__logo
              img(src="https://kitasofa.com/wp-content/uploads/2018/08/kita-sofa-logo-full.png", alt="", srcset="")
          .nav-menu-section
            .nav-menu-section__logo
              img(src="https://kitasofa.com/wp-content/uploads/2018/08/kita-sofa-logo-full.png", alt="", srcset="")
            .nav-menu-section__menu
              ul.nav-menu-section__menu
                li.nav-menu-section__menu__item
                  p Trang chủ
                li.nav-menu-section__menu__item
                  p Giới thiệu
                li.nav-menu-section__menu__item
                  p Sản phẩm
                li.nav-menu-section__menu__item
                  p Tin tức
                li.nav-menu-section__menu__item
                  p Thiết kế
                li.nav-menu-section__menu__item
                  p Dự án
                li.nav-menu-section__menu__item
                  p Liên hệ
          .nav-tool-section
            .nav-tool-section__search
              .fas.fa-search
            .nav-tool-section__cart
              .fas.fa-shopping-cart
