.header {
  width: 100vw;
  background: #333;
  border-bottom: 1px solid #e5ae49;

  .header-infomation {
    display: none;
  }

  @include min-md {
    position: fixed;
    z-index: 3;
    background: rgba($color: #000000, $alpha: 0);
    border: none;
  }

  &__nav {
    &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0;
    }
  }

  .nav-icon-section {
    color: #fff;
    width: 100%;

    @include min-md {
      width: 10%;
    }

    &__menu-icon {
      .fas {
        padding: 5px 10px;
        border-radius: 3px;
        border: 1px solid #fff;
      }

      @include min-md {
        display: none;
      }
    }

    &__logo {
      display: none;

      @include min-md {
        display: block;
      }
    }
  }

  .nav-menu-section {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;

    &__menu {
      display: none;

      .nav-menu-link {
        font-size: 15px;
        color: #fff;
        text-decoration: none;
      }

      @include min-md {
        display: flex;

        &__item {
          padding: 10px 15px;
          text-transform: uppercase;
          font-weight: 600;
          font-size: 22px;
          cursor: pointer;

          &:hover {
            .nav-menu-link {
              color: #e5ae49;
            }

            .menu-section {
              visibility: visible;
              opacity: 1;
              top: 100%;
            }
          }
        }
      }
    }

    &__logo {
      @include min-md {
        display: none;
      }
    }

    .menu-section {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      transition: 0.3s ease-in-out;
      top: 120%;
      left: 0;
      width: 100%;
      min-height: 400px;
      background: #fff;
      box-shadow: 0 0 3px 0 #ccc;

      &__container {
        padding: 15px;
      }

      &__list-menu {
        display: flex;
        flex-direction: column;
        padding: 15px 0;
        border-right: 1px dashed #ccc;

        .menu__title {
          color: #000;
          font-size: 22px;
          text-transform: capitalize;
          font-weight: 500;
          margin-bottom: 5px;
        }

        .sub-menu__name {
          color: #000;
          padding-left: 15px;
          font-size: 18px;
          font-weight: normal;
          text-transform: capitalize;
          padding: 5px 0;
          margin-left: 20px;
        }
      }

      .best-seller-product {
        &__title {
          color: #000;
          font-weight: 500;
          font-size: 26px;
          margin-bottom: 20px;
          text-transform: capitalize;
        }

        &__image {
          width: 100%;
          max-height: 200px;
        }

        &__text {
          color: #000;
          display: block;
          display: -webkit-box;
          max-width: 100%;
          height: 43px;
          margin: 10px 0;
          font-size: 14px;
          line-height: 1;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          text-transform: capitalize;
        }

        &__see-more {
          display: inline-block;
          border: 1px solid #e5ae49;
          font-size: 16px;
          font-weight: 500;
          padding: 5px 10px;
          margin-top: 20px;
        }
      }
    }
  }

  .nav-tool-section {
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: space-around;

    @include min-md {
      width: 10%;
      justify-content: flex-end;
      color: #fff;

      .fas {
        font-size: 16px;
        cursor: pointer;

        &:hover {
          color: #e5ae49;
        }
      }

      &__cart {
        margin-left: 40px;
      }
    }
  }
}

.header-sticky {
  transition: 0.3s ease-in-out;
  background: rgba($color: #000000, $alpha: 1);

  @include min-md {
    background: rgba($color: #000000, $alpha: 0.8);
  }
}
