footer.footer
  .footer-top
    .container
      .footer-top__phone-number  
        p.footer-top__phone-number__text Gọi chúng tôi bất cứ khi nào bạn cần
        h1.footer-top__phone-number__number 0938.183.383
      .footer-top__about-us
        .footer-top__about-us__address
          h5.footer-top__about-us__title Về Chúng Tôi
          p.footer-top__about-us__sub-title Công ty TNHH Kiến Tạo và Kiestj Tác Kita Sky
          ul.infomation-list-item
            li.infomation-list-item__item
              .infomation-list-item__item__icon
                .fas.fa-map-marker
              .infomation-list-item__item__text MST: 0314770384
            li.infomation-list-item__item
              .infomation-list-item__item__icon
                .fas.fa-map-marker
              .infomation-list-item__item__text Địa Chỉ: 16 Trần Bá Giao, Phường 5, Quận Gò Vấp, Tp.Hồ Chí Minh
            li.infomation-list-item__item
              .infomation-list-item__item__icon
                .fas.fa-map-marker
              .infomation-list-item__item__text Địa chỉ xưởng 195 Trần Bá Giao, Phường 5, Quận Gò Vấp, Tp.Hồ Chí Minh
            li.infomation-list-item__item
              .infomation-list-item__item__icon
                .fas.fa-mobile-alt
              .infomation-list-item__item__text Điện thoại: (84)0938.183.383
            li.infomation-list-item__item
              .infomation-list-item__item__icon
                .fas.fa-fax
              .infomation-list-item__item__text Fax:
            li.infomation-list-item__item
              .infomation-list-item__item__icon
                .far.fa-envelope-open
              .infomation-list-item__item__text Email: kitasky.furniture@gmail.com
        .footer-top__about-us__infomation
          h5.footer-top__about-us__title Thông tin
          ul.infomation-list-item
            li.infomation-list-item__item
              .infomation-list-item__item__icon
                .fas.fa-eye
              .infomation-list-item__item__text Giới thiệu
            li.infomation-list-item__item
              .infomation-list-item__item__icon
                .fas.fa-eye
              .infomation-list-item__item__text Đổi trả sản phẩm
            li.infomation-list-item__item
              .infomation-list-item__item__icon
                .fas.fa-eye
              .infomation-list-item__item__text Thanh toán và nhận hàng
            li.infomation-list-item__item
              .infomation-list-item__item__icon
                .fas.fa-eye
              .infomation-list-item__item__text Hướng dẫn thanh toán
            li.infomation-list-item__item
              .infomation-list-item__item__icon
                .fas.fa-eye
              .infomation-list-item__item__text Vận chuyển
            li.infomation-list-item__item
              .infomation-list-item__item__icon
                .fas.fa-eye
              .infomation-list-item__item__text Chính sách bảo hành
            li.infomation-list-item__item
              .infomation-list-item__item__icon
                .fas.fa-eye
              .infomation-list-item__item__text Chăm sóc khách hàng
        .footer-top__about-us__fanpage
          h5.footer-top__about-us__title FanPage
        .footer-top__about-us__follow
          h5.footer-top__about-us__title Theo dõi
          p.footer-top__about-us__sub-title Nhập thông tin email của bạn để nhận những thông tin chính sách ưu đãi từ chúng tôi ngay hôm nay
          .group-input
            input.group-input__input(type="text" placeholder="Email nhận tin")
            .group-input__icon
              .fas.fa-envelope
          .group-icon
            .fab.fa-facebook-square
            .fab.fa-twitter
  .footer-copyright
    .footer-copyright__license
      p.footer-copyright__license__text © Bản quyền thuộc về KitaSofa.com | Phát triển bởi Thiết kế Website Beweb.com.vn
    .footer-copyright__group-icon
      .fab.fa-cc-visa
      .fab.fa-cc-mastercard
      .fab.fa-cc-paypal
      .fab.fa-cc-discover