.new-detail-page-section
  .product-section
  h1.product-section__title Tấm bọc sofa, ga phủ ghế, drap vải áo trùm bảo vệ sofa – KITA
  .product-section__create-time 17:10 25-07-2020
  .product-section__container 
    .row.product-section__container__product-list Content

