/*
  EN font
*/

// Plugin
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../../node_modules/swiper/swiper.scss";
// Base
@import "./base/font-language/en-EN";
@import "./base/_functions";
@import "./base/_variables";
@import "./base/_mixins";
@import "./base/_fonts";
@import "./base/_global";
@import "./base/_flexboxgrid";
@import "./base/_lazyload";


// Component
@import "../../views/components/header/header";
@import "../../views/components/footer/footer";

//Page
@import "../../views/components/homePage/home-page.scss";
@import "../../views/components/aboutPage/about-page.scss";
@import "../../views/components/productPage/product-page.scss";
@import "../../views/components/productDetailPage/product-detail-page.scss";
@import "../../views/components/cartDetailPage/cart-detail-page.scss";
@import "../../views/components/checkoutPage/checkout-page.scss";
@import "../../views/components/newPage/new-page.scss";
@import "../../views/components/newDetailPage/newDetailPage.scss";


@import "../../views/components/globalComponent/productList/product-list.scss";
@import "../../views/components/globalComponent/ourService/our-service.scss";
@import "../../views/components/globalComponent/phoneContact/phoneContact.scss";
@import "../../views/components/globalComponent/navbarMobile/nav-mobile.scss";

@import "../../views/components/homePage/review/review.scss";
@import "../../views/components/homePage/subscribe/subscribe.scss";
@import "../../views/components/homePage/customer/customer.scss";
@import "../../views/components/homePage/brand/brand.scss";
@import "../../views/components/homePage/banner/banner.scss";

@import "../../views/components/aboutPage/bread-crumb/bread-crumb.scss";

@import "../../views/components/productPage/productSection/product-section.scss";
@import "../../views/components/productPage/product-item/product-item.scss";
@import "../../views/components/productPage/categorySection/category-section.scss";
@import "../../views/components/aboutPage/headerInfomation/headerInfomation.scss";
@import "../../views/components/productDetailPage/product/product.scss";
@import "../../views/components/productDetailPage/productDetail/product-detail.scss";

@import "../../views/components/checkoutPage/formCheckout/formCheckout.scss";
@import "../../views/components/checkoutPage/orderContent/orderContent.scss";
@import "../../views/components/checkoutPage/paymentMethods/payment.scss";

@import "../../views/components/newPage/listNews/listNew.scss";
@import "../../views/components/newPage/newItem/newItem.scss";

@import "../../views/components/newDetailPage/newDetailSection/newDetailSection.scss";


