- var title = "dịch vụ của chúng tôi";
.our-service
  h3.our-service__title #{title}
  p.our-service__infomation Nội Thất KitaSofa chuyên cung cấp các dịch vụ thiết kế và thi công các công trình nội thất . Chúng tôi hướng đến tiêu chí đem đến cho khách hàng những dịch vụ tốt nhất.
  .our-service__container
    .our-service-container
      .swiper-wrapper
        .swiper-slide
          .our-service-item
            img.our-service-item__img(src="https://kitasofa.com/wp-content/uploads/2020/06/boc-sofa-quan-10-h00000.jpg" alt="" srcset="")
            p.our-service-item__create-time 20:28 12-06-2020
            .our-service-item__content
              a.our-service-item__content__title Báo giá bọc sofa quận 10 giá rẻ, bọc ghế tận nhà – Kita Sofa
              p.our-service-item__content__text Báo giá bọc sofa quận 10 giá rẻ, cam kết chất lượng – nhanh chóng Quận 10 là một trong            
              a.our-service-item__content__read-more Đọc tiếp
        .swiper-slide
          .our-service-item
            img.our-service-item__img(src="https://kitasofa.com/wp-content/uploads/2020/06/boc-sofa-quan-10-h00000.jpg" alt="" srcset="")
            p.our-service-item__create-time 20:28 12-06-2020
            .our-service-item__content
              a.our-service-item__content__title Báo giá bọc sofa quận 10 giá rẻ, bọc ghế tận nhà – Kita Sofa
              p.our-service-item__content__text Báo giá bọc sofa quận 10 giá rẻ, cam kết chất lượng – nhanh chóng Quận 10 là một trong            
              a.our-service-item__content__read-more Đọc tiếp
        .swiper-slide
          .our-service-item
            img.our-service-item__img(src="https://kitasofa.com/wp-content/uploads/2020/06/boc-sofa-quan-10-h00000.jpg" alt="" srcset="")
            p.our-service-item__create-time 20:28 12-06-2020
            .our-service-item__content
              a.our-service-item__content__title Báo giá bọc sofa quận 10 giá rẻ, bọc ghế tận nhà – Kita Sofa
              p.our-service-item__content__text Báo giá bọc sofa quận 10 giá rẻ, cam kết chất lượng – nhanh chóng Quận 10 là một trong            
              a.our-service-item__content__read-more Đọc tiếp
        .swiper-slide
          .our-service-item
            img.our-service-item__img(src="https://kitasofa.com/wp-content/uploads/2020/06/boc-sofa-quan-10-h00000.jpg" alt="" srcset="")
            p.our-service-item__create-time 20:28 12-06-2020
            .our-service-item__content
              a.our-service-item__content__title Báo giá bọc sofa quận 10 giá rẻ, bọc ghế tận nhà – Kita Sofa
              p.our-service-item__content__text Báo giá bọc sofa quận 10 giá rẻ, cam kết chất lượng – nhanh chóng Quận 10 là một trong            
              a.our-service-item__content__read-more Đọc tiếp
    //- .swiper-pagination
    //- .swiper-tool
    //-   .our-service-swiper-button-prev.swiper-tool__icon
    //-     .fas.fa-angle-left
    //-   .our-service-swiper-button-next.swiper-tool__icon
    //-     .fas.fa-angle-right
    //- .swiper-scrollbar