.nav-mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    visibility: hidden;
    transition: 0.2s ease-in-out;

    @include min-md {
        display: none;
    }

    &__container {
        width: 70%;
        padding: 10px;
        max-width: 300px;
        background: #fff;
        height: 100%;
        overflow: auto;
        position: relative;
        left: -100%;
        z-index: 2;
        transition: 0.2s ease-in-out;
    }

    &__logo {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    &__back-drop {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition: 0.2s ease-in-out;
        background: #000;
    }

    .nav-list-item{
        margin: 20px 0;

        .nav-item {
            border-bottom: 1px solid #ddd;
            
            &__link {
                display: block;
                font-size: 14px;
                color: #e5ae49;
                text-transform: uppercase;
                padding: 9px 0;
                font-weight: 600;
            }
            
            .sub-link {
                font-size: 13px;
                padding-left: 15px;
                font-weight: normal;
            }

            &:last-child {
                border-bottom: none;
            }
        }
    }
}

.nav-mobile-active {
    z-index: 3;
    visibility: visible;

    .nav-mobile__container {
        left: 0;
    }

    .nav-mobile__back-drop {
        opacity: 0.6;
    }
}