#nav-mobile.nav-mobile
  .nav-mobile__container
    .nav-mobile__logo
      img(src="https://kitasofa.com/wp-content/uploads/2018/08/kita-sofa-logo-full.png", alt="", srcset="")
    ul.nav-list-item
      li.nav-item
        a(href="http://").nav-item__link Trang chủ
      li.nav-item
        a(href="http://").nav-item__link Giới thiệu
      li.nav-item
        a(href="http://").nav-item__link Sản phẩm
      li.nav-item
        a(href="http://").nav-item__link.sub-link
          .fas.fa-angle-right.mr-1
          span SOFA DA
      li.nav-item
        a(href="http://").nav-item__link.sub-link
          .fas.fa-angle-right.mr-1
          span SOFA DA
      li.nav-item
        a(href="http://").nav-item__link.sub-link
          .fas.fa-angle-right.mr-1
          span SOFA DA
      li.nav-item
        a(href="http://").nav-item__link Tin tức
      li.nav-item
        a(href="http://").nav-item__link Thiết kế
      li.nav-item
        a(href="http://").nav-item__link Liên hệ
  #nav-back-drop.nav-mobile__back-drop
