.order-content
  h5.order-content__title Đơn hàng của bạn
  .order-content__item.order-content__header
    .order-content__item__name Sản phẩm
    .order-content__item__price Tổng cộng
  .order-content__item
    .order-content__item__name Bàn ghế sofa da Alula x 2
    .order-content__item__price 35 000 000 đ
  .order-content__item.total
    .order-content__item__name Tổng cộng
    .order-content__item__price 193 000 000 đ
  .order-content__item.shipping
    .order-content__item__name Shipping
    .order-content__item__price Đồng giá: 0đ
  .order-content__item.total
    .order-content__item__name Tổng cộng
    .order-content__item__price 193 000 000 đ

